:root {
    --background:#FFFFFF;
    --mark-title: #212121;
    --yelow-border: #FFC700;
    --white-tematic: #D4D4D4;
    --black-tematic: #363636;
    --button-standby: #44af47;
    --button-hover: #3e8f41;
}