body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

fieldset {
    border-color: var(--yelow-border)
}

.login-box {
    max-height: 50%;
    display: grid;
    background-color: var(--white-tematic);
    padding: .5em 3em;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr;
}

.login-box-title {
    margin: 0;
    color: var(--black-tematic);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.login-box-form {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    grid-template-rows: 3.2em 3.2em 3em;
}

 .login-box-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
/*
.login-box-form-input p {
    margin-top: 0;
    width: 100%;
    text-align: start;
    font-weight: bolder;
}

.login-box-form-input input {
    border-color: var(--black-tematic);
    border-radius: 5px;
    border-style: solid;
    max-width: 20em;
    width: 100%;
} */

.login-box-button {
    background-color: var(--button-standby); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-box-button:hover {
    background-color: var(--button-hover); /* Green */
    color: white;
}