{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block cabecera %}
    <link rel="stylesheet" href="{% static './css/section-styles/globals-section.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/clients/edit_client.css' %}">
    <title>{{parameters.titulo}}</title>
    {% endblock %}
</head>
<body>
    {% block cuerpo %}
    <div class="form-container">
        <div class="title-and-back">
            <a href="../users" style="text-decoration: none">
                <span class="icon-circle-left"></span>
            </a>
            <h1>{{parameters.titulo}}</h1>
        </div>
        <form action="{% url 'edit_user' parameters.usu_actual %}" class="card menu-fade" method="POST" id="cargarUsuario" onsubmit="sessionStorage.setItem('1', 1);">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Id. del Usuario</span>
                </div>
                <input type="text" name="usuario" value="{{ parameters.datos_act.usuario }}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="id_usuario" required>
            </div>

            <div class="input-group mb-3" id="item-usuario" style="display: none">

            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre de Usuario</span>
                </div>
                <input type="text" name="nombre_completo" value="{{parameters.datos_act.nombre_completo}}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Clave</span>
                </div>
                <input type="password" name="clave" value="{{parameters.datos_act.clave}}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="genero_cliente">Tipo de Usuario</label>
                </div>
                <select name="tipo_usuario" id="tipo_usuario" class="form-select" required>
                    {% for usuario in parameters.tipo_usu %}
                        {% if usuario.id_tipo_usuario == parameters.datos_act.tipo_usuario %}
                        <option value="{{usuario.id_tipo_usuario}}" id="opcion_select" selected>{{usuario.descripcion_tipo_usuario}}</option>
                        {% else %}
                        <option value="{{usuario.id_tipo_usuario}}" id="opcion_select">{{usuario.descripcion_tipo_usuario}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </form>
        <button class="btn btn-success" type="submit" form="cargarUsuario" onclick="return verificarFormulario(this)" style="margin-top: 1em">{{ parameters.titulo }}</button>
    </div>
    <script src="{% static './js/jquery.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script>
        var args = {
            TITLE: '', 
            TEXT: '',
            ICON: '', 
            successPhrase: 'registrado',
            typeOfMethod: 'submit',
            btnId: 'cargarUsuario'
        }

        document.getElementById("id_usuario").addEventListener("keyup", (evt) => {
            var flag = false
            var valor = document.getElementById("id_usuario").value
            var valorData
            {% for user in parameters.listausuario %}
            valorData = "{{user.usuario}}"
            if(valor == valorData) {
                flag = true
            }
            {% endfor %}
            validarFormulario("item-usuario", flag, "Id del usuario ya se encuentra en uso.")
        })
    </script>
    {% endblock %}
</body>
</html>