{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    {% block cabecera %}
    <title>Parametros de Productos: Automotores Benedix</title>
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/config.css' %}">
    {% endblock %}
</head>
<body>
    {% block cuerpo %}
    <section class="menu-card menu-top">
        <div class="container-global">
            <div class="card">
                <div class="card-icon" style="background: #191919;">
                </div>
                <h4>Marca</h4>
                <p>Administre lista de Marcas</p>
                <a href="mark">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon" style="background: #2D4263;">
                </div>
                <h4>Modelo</h4>
                <p>Administre lista de Modelos.</p>
                <a href="models">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon" style="background: #C84B31;">
                    
                </div>
                <h4>Color</h4>
                <p>Administre lista de Modelos.</p>
                <a href="color">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-circle-left"></span>
                </div>
                <h4>Regresar</h4>
                <p>Regresa al menu principal</p>
                <a href="config">Ingresar</a>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>