{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="margin: 0 auto;">
        <div class="modal-modal-header">
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static './css/section-styles/products/modalAdd.css' %}">
        </div>
        <div class="modal-body">

            <form action="{% url 'parameters_modal_client' parameters.paisCiudad_actual parameters.tipo_carga %}" method="POST"
                id="cargarPaisCiudad">
                {% csrf_token %}
                {% if parameters.tipo_carga == 0%}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nuevo Documento</span>
                    </div>
                    <input type="text" name="tipo_documento" class="form-control" aria-label="Default" 
                    aria-describedby="inputGroup-sizing-default">
                </div>
                {% elif parameters.tipo_carga == 1 %}
                <div class="input-group mb-3 nuevo-modelo">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nuevo Pais</span>
                    </div>
                    <input type="text" name="pais" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                {% elif parameters.tipo_carga == 2 %}
                <div class="input-group">
                    <select class="custom-select" name="pais" id="pais">
                        <option value="0" selected>------</option>
                        {% for pais in parameters.listapais %}
                        {% if pais.id_pais == parameters.datos_act.id_pais_id %}
                        <option value="{{pais.id_pais}}" id="opcion_select" selected>{{pais.descripcion_pais}}
                        </option>
                        {% else %}
                        <option value="{{pais.id_pais}}" id="opcion_select">{{pais.descripcion_pais}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3 nuevo-modelo">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nueva Ciudad</span>
                    </div>
                    <input type="text" name="ciudad" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                {% endif %}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="alertaConfirmar('',argsModal)">Confirmar</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        </div>

        <script>

            var argsModal = {
                TITLE: '',
                TEXT: '',
                ICON: '',
                successPhrase: 'actualizado',
                typeOfMethod: 'submit',
                btnId: 'cargarPaisCiudad'
            }
        </script>

        <script src="{% static './js/jquery.chained.js' %}"></script>
    </div>