{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block cuerpo %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/globals.css' %}">
    <link rel="stylesheet" href="{% static './css/tables.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/search.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/config/users.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
</head>

<body>
    <div class="form-container menu-fade">
        <div class="title-and-back">
            <a href="config" style="text-decoration: none;">
                <span class="icon-circle-left"></span>
            </a>
            <h1>Usuarios</h1>
            <a href="{% url 'edit_user' 0 %}">
                <button class="btn btn-dark">Nuevo Usuario</button>
            </a>
        </div>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre Completo</th>
                    <th>Tipo de Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for lista in parameters.listatabla %}
                <tr>
                    <td>{{ lista.usuario }}</td>
                    <td>{{ lista.nombre_completo }}</td>
                    {% for tipo_usuario in parameters.tipo_usu %}
                    {% if tipo_usuario.id_tipo_usuario == lista.tipo_usuario %}
                    <td>{{ tipo_usuario.descripcion_tipo_usuario }}</td>
                    {% endif %}
                    {% endfor %}
                    <td>
                        <button class="btn btn-warning"
                            onclick="abrirModalEdicion('{% url 'edit_user' lista.id_usuario %}', args)">
                            Editar
                        </button>
                        {% if nombre_completo != lista.nombre_completo %}
                        <button class="btn btn-danger"
                            onclick="alertaConfirmar('{% url 'delete_user' lista.id_usuario %}', args)">
                            Eliminar
                        </button>
                        {% else %}
                        <button class="btn btn-danger" disabled>
                            Eliminar
                        </button>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="edicion" role="dialog">

        </div>

    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/datatables.js'%}"></script>

    <script type="text/javascript" src="{% static 'js/DataTables/js/datatables.min.js' %}"></script>
    <script type="text/javascript">
       dataTable()

        var args = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de modificar este Usuario?',
            ICON: 'warning', 
            successPhrase:'modificado',
            typeOfMethod:'url',
        }

        var args2 = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de eliminar este Usuario?',
            ICON: 'warning', 
            successPhrase:'eliminado',
            typeOfMethod:'url',
        }

        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }


    </script>
    {% endblock %}
</body>

</html>