servidor/db.sqlite3
servidor/project-template.rar
servidor/pagina/__pycache__/__init__.cpython-39.pyc
servidor/pagina/__pycache__/admin.cpython-39.pyc
servidor/pagina/__pycache__/apps.cpython-39.pyc
servidor/pagina/__pycache__/models.cpython-39.pyc
servidor/pagina/__pycache__/urls.cpython-39.pyc
servidor/pagina/__pycache__/views.cpython-39.pyc
servidor/pagina/migrations/0001_initial.py
servidor/pagina/migrations/__pycache__/__init__.cpython-39.pyc
servidor/pagina/migrations/__pycache__/0001_initial.cpython-39.pyc
servidor/servidor/__pycache__/__init__.cpython-39.pyc
servidor/servidor/__pycache__/settings.cpython-39.pyc
servidor/servidor/__pycache__/urls.cpython-39.pyc
servidor/servidor/__pycache__/wsgi.cpython-39.pyc
