{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block cuerpo %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/globals.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/globals-section.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/clients/edit_client.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
    <title>{{ parameters.titulo }}</title>
</head>

<body>
    <div class="form-container">
        <div class="title-and-back">
            <a href="{% url 'timbrado' parameters.proveedor_actual %}" style="text-decoration: none">
                <span class="icon-circle-left"></span>
            </a>
            <h1>{{ parameters.titulo }}</h1>
        </div>
        <form action="{% url 'edit_timbrado' parameters.timbra_actual %}" method="POST" class="form-global-box menu-fade" id="cargarTimbrado" onsubmit="sessionStorage.setItem('1', 1);">
            {% csrf_token %}
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nro. Timbrado</span>
                </div>
                <input type="number" name="nro_timbrado" id="nro_timbrado" value="{{ parameters.datos_act.nro_timbrado }}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
            </div>

            <div class="input-group mb-3" id="item-timbrado" style="display:none">

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Fecha Vencimiento/span>
                </div>
                <input type="date" name="fch_vencimiento_timbrado" value="{{ parameters.datos_act.fch_vencimiento_timbrado }}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
            </div>


            
        </form>
        <div class="modal fade" id="edicion" role="dialog">

        </div>
        <button class="btn btn-success" style="margin-top: 1em" form="cargarTimbrado" id="cargar" onclick="return verificarFormulario(this)">{{ parameters.titulo }}</button>
    </div>
    <script src="{% static './js/jquery.js' %}"></script>
    <script src="{% static './js/jquery.chained.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script>
        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            console.log(url)
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }


        document.getElementById("fch_vencimiento_timbrado").addEventListener("keyup", (evt) => {
            var flag = false
            var valor = document.getElementById("fch_vencimiento_timbrado").value
            var valorCorregido = ''
            for(let i = 0; i < valor.length; i++) {
                valorCorregido += valor.charAt(i).replace(".","")
            }
            var valorData
            {% for timbrado in parameters.listatimbrado %}
            valorData = "{{timbrado.fch_vencimiento_timbrado}}"
            if(valorCorregido == valorData) {
                flag = true
            }
            {% endfor %}
            validarFormulario("item-timbrado", flag, "Nro. de timbrado ya se encuentra en uso.")
        })
            
        

    </script>
    {% endblock %}
</body>

</html>