{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-modal-header">
            <h2 class="modal-title">Timbrados</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static './css/index.css' %}">
            <link rel="stylesheet" href="{% static './css/tables.css' %}">
            <link rel="stylesheet" href="{% static './css/section-styles/config/users.css' %}">
            <link rel="stylesheet" href="{% static './css/section-styles/products/products.css'%}">
            <link rel="stylesheet" href="{% static 'css/modal.css' %}">
            <!-- Fuentes de Google -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
                rel="stylesheet">
            <!-- Fuentes de Google -->
            <style>
                .form-container {
                    padding-bottom: 1em;
                }

                .form-timbrado{
                    padding: 0 4em;
                }
            </style>
        </div>

        <div class="modal-body" id="body">
            <table id="tabla">
                <thead>
                    <tr>
                        <th>Nro. Timbrado</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for timbrado in parameters.listatimbrado %}
                    <tr>
                        <td>{{ timbrado.nro_timbrado }}</td>
                        <td>{{ timbrado.fch_vencimiento_timbrado }}</td>
                        <td>
                            <button class="btn btn-danger"
                                onclick="alertaConfirmar('{% url 'delete_timbrado' timbrado.nro_timbrado %}', args)">
                                Borrar
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="form-container" id="div-form" style="display: none">
            <form action="{% url 'timbrado' parameters.proveedor_actual %}" method="POST" class="form-timbrado menu-fade" id="cargarTimbrado" onsubmit="sessionStorage.setItem('1', 1);">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nro. Timbrado</span>
                    </div>
                    <input type="number" name="nro_timbrado" id="nro_timbrado" value="{{ parameters.datos_act.nro_timbrado }}"
                        class="form-control elemento" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                </div>
    
                <div class="input-group mb-3" id="item-timbrado" style="display:none">
    
                </div>
    
    
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Fecha Vencimiento</span>
                    </div>
                    <input type="date" name="fch_vencimiento_timbrado" id="fch_vencimiento_timbrado" value="{{ parameters.datos_act.fch_vencimiento_timbrado }}"
                        class="form-control elemento" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                </div>
                
            </form>
            <div class="modal fade" id="edicion" role="dialog">
    
            </div>
            <button class="btn btn-success" style="margin-top: 1em" id="btnCarga">Cargar Timbrado</button>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" onclick="return mostrarFormularioTabla(this)">Nuevo Timbrado</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        </div>

        <div class="modal fade" id="edicion" role="dialog">

        </div>
    </div>

    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>

    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }
        flagBtn = 0
        function mostrarFormularioTabla(event) {
            if (flagBtn == 0) {
                event.className = "btn btn-dark"
                event.innerText = "Ver Timbrados"
                $('#div-form').show(500); //muestro mediante id
                $('#body').hide(300); //oculto mediante id
                flagBtn = 1

            } else {
                event.className = "btn btn-success"
                event.innerText = "Nuevo Timbrado"
                $('#div-form').hide(300); //oculto mediante id
                $('#body').show(500); //muestro mediante id
                flagBtn = 0

            } 
        }

        $(document).ready(function() {
            $('#tabla').DataTable({
                    "language": {
                        "emptyTable":     "La tabla se encuentra vacia.",
                        "info":           "Mostrando _END_ de _MAX_ registros",
                        "infoEmpty":      "",
                        "infoFiltered":   "",
                        "infoPostFix":    "",
                        "thousands":      ",",
                        "lengthMenu":     "Mostrar _MENU_ registros",
                        "loadingRecords": "Cargando...",
                        "processing":     "Procesando...",
                        "search":         "",
                        "zeroRecords":    "No se obtuvo ninguna coincidencia",
                        oPaginate: {
                            sNext: '<i class="fa fa-forward"></i>',
                            sPrevious: '<i class="fa fa-backward"></i>',
                            sFirst: '<i class="fa fa-step-backward"></i>',
                            sLast: '<i class="fa fa-step-forward"></i>'
                        }
                    }
            });
        });

        var validacion = true

        document.getElementById("fch_vencimiento_timbrado").addEventListener("keyup", (evt) => {
            var flag = false
            var valor = document.getElementById("fch_vencimiento_timbrado").value
            var valorCorregido = ''
            for(let i = 0; i < valor.length; i++) {
                valorCorregido += valor.charAt(i).replace(".","")
            }
            var valorData
            {% for timbrado in parameters.listatimbrado %}
                valorData = "{{timbrado.fch_vencimiento_timbrado}}"
                if(valorCorregido == valorData) {
                    flag = true
                }
            {% endfor %}
            validacion = validarFormulario("item-timbrado", flag, "Nro. de timbrado ya se encuentra en uso.")
        })

        document.getElementById("btnCarga").addEventListener("click", () => validarFormularioEdicion(validacion, "elemento"))

        var argsInsert = {
            TITLE: 'Cambios aplicados!',
            TEXT: `El producto ha sido cargado con éxito`,
            ICON: 'success'
        }

        var argsModal = {
            TITLE: 'Advertencia!',
            TEXT: 'Estas seguro de cargar este timbrado?',
            ICON: 'warning',
            successPhrase: 'cargado',
            ajx: true,
            delete_name: 'delete_timbrado',
            btnId: 'cargarTimbrado'
        }

        var args = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de eliminar este Producto?',
            ICON: 'warning', 
            successPhrase:'eliminado',
            typeOfMethod:'url'
        }
        if(sessionStorage.getItem('1') == 1) {
            window.onload = alerta(argsInsert)
            sessionStorage.setItem('1', 0);
        } 
    </script>
</div>