{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="margin: 0 auto;">
        <div class="modal-modal-header">
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static './css/section-styles/products/modalAdd.css' %}">
            <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.css'%}">
        </div>
        <div class="modal-body">
            <div class="container-md">
                <form action="{% url 'edit_timbrado_sell' parameters.timbrado_actual %}" method="POST"
                    id="editarTimbrado">
                    {% csrf_token %}

                        <div class="input-group mb-3 editar-marca">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" onclick="">Nro. Timbrado</span>
                            </div>
                            <input type="text" id="nro_timbrado" name="nro_timbrado" class="form-control" aria-label="Default" 
                                aria-describedby="inputGroup-sizing-default" value="{{parameters.datos_act.nro_timbrado_parametros}}" {% if parameters.timbrado_actual > 0 %} disabled {% endif %}>
                        </div>
                        <div class="input-group mb-3 editar-marca" id="item-marca" style="display: none">
                        
                        </div>
                        <div class="input-group mb-3 editar-marca">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" onclick="">Fch. Vencimiento</span>
                            </div>
                            <input type="date" id="fch_vencimiento" name="fch_vencimiento" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnCarga">Confirmar</button>
            <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
        </div>

        <script src="{% static './js/functions.js' %}"></script>
        <script src="{% static './js/validate.js' %}"></script>
        <script src="{% static './js/alerts.js' %}"></script>
        <script>
            {% if parameters.timbrado_actual > 0 %}
                document.getElementById("fch_vencimiento").value = formatearFecha('{{parameters.datos_act.fch_vencimiento_timbrado_parametros}}')
            {% endif %}

            var argsModal = {
                TITLE: 'Advertencia!',
                TEXT: 'Estás seguro de cargar este Parametro?',
                ICON: 'warning', 
                successPhrase:'actualizado',
                typeOfMethod:'confirm',
                btnId: 'editarTimbrado'
            }

            var validacion = true

            document.getElementById("nro_timbrado").addEventListener("keyup", (evt) => {
                var flag = false
                var valor = document.getElementById("nro_timbrado").value
                var valorOriginal = "{{parameters.datos_act.nro_timbrado_parametros}}"
                var valorData
                {% for timbrado in parameters.listatimbradoparametros %}
                valorData = "{{timbrado.nro_timbrado_parametros}}"
                if(valor == valorData && valor != valorOriginal) {
                    flag = true
                }
                {% endfor %}
            
                validacion = validarFormulario("item-marca", flag, "Numero de Timbrado ya se encuentra en uso.")
            })

            document.getElementById("btnCarga").addEventListener("click", () => validarFormularioEdicion(validacion))
        </script>
    </div>