.modal-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    background: slateblue;
    color: white;
    align-items: center;
}

form {
    width: 100%;
    
}

#editarProducto {
    display: flex;
    padding-top: 1em;
    justify-content: center;
}