{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block cuerpo %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{% static './css/section-styles/search.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/clients/clients.css' %}">
    <link rel="stylesheet" href="{% static './css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
</head>

<body>
    <div class="form-container">
        <div class="title-and-back">
            <a href="inicio" class="back" style="text-decoration: none;">
                <span class="icon-circle-left"></span>
            </a>
            <h1>Clientes</h1>
            <a href="{% url 'edit_client' 0 %}">
                <button class="btn btn-dark">Nuevo Cliente</button>
            </a>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Buscar</span>
            </div>
            <input type="text" name="buscar" id="buscar" class="form-control" placeholder="Producto"
                aria-label="Producto" aria-describedby="basic-addon1">
        </div>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Nro. Documento</th>
                    <th>Tipo Documento</th>
                    <th>Nombre y Apellido</th>
                    <th>Telefono</th>
                    <th>Genero</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in parameters.listaclientes %}
                <tr>
                    <td>{{ cliente.documento_cliente }}</td>

                    {% for documento in parameters.listadocumentos %}
                    {% if documento.id_tipo_documento == cliente.id_tipo_documento_id %}
                    <td>{{documento.descripcion_tipo_documento}}</td>
                    {% endif %}
                    {% endfor %}

                    <td>{{ cliente.nombre_cliente }} {{ cliente.apellido_cliente }}</td>

                    <td>{{ cliente.telefono_cliente }}</td>

                    {% if cliente.genero_cliente == 0 %}
                        <td>Femenino</td>
                    {% else %}
                        <td>Masculino</td>
                    {%endif%}

                    <td class="actions">
                        <button onclick="abrirModalEdicion('{% url 'edit_client' cliente.id_cliente %}')"
                            class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger"
                            onclick="">
                            Borrar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script type="text/javascript">

        var args = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de eliminar este Producto?',
            ICON: 'warning', 
            successPhrase:'eliminado',
            typeOfMethod:'url',
        }

        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }


    </script>
    {% endblock %}
</body>

</html>