{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="margin: 0 auto;">
        <div class="modal-modal-header">
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static './css/section-styles/products/modalAdd.css' %}">
        </div>
        <div class="modal-body">

            <form action="{% url 'parameters_modal_client' parameters.paisCiudad_actual parameters.tipo_carga parameters.redirigir %}" method="POST"
                id="cargarPaisCiudad">
                {% csrf_token %}
                {% if parameters.tipo_carga == 0%}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nuevo Documento</span>
                    </div>
                    <input type="text" name="tipo_documento" class="form-control elemento" aria-label="Default" 
                    aria-describedby="inputGroup-sizing-default" value="{{parameters.datos_act.descripcion_tipo_documento}}" id="cliente">
                </div>
                <div class="input-group mb-3" id="item-elemento" style="display:none">

                </div>
                {% elif parameters.tipo_carga == 1 %}
                <div class="input-group mb-3 nuevo-modelo">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nuevo Pais</span>
                    </div>
                    <input type="text" name="pais" class="form-control elemento" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" value="{{parameters.datos_act.descripcion_pais}}" id="cliente">
                </div>
                <div class="input-group mb-3" id="item-elemento" style="display:none">

                </div>
                {% elif parameters.tipo_carga == 2 %}
                <div class="input-group">
                    <select class="custom-select" name="pais" id="pais">
                        <option value="0" selected>------</option>
                        {% for pais in parameters.listapais %}
                        {% if pais.id_pais == parameters.datos_act.id_pais_id %}
                        <option value="{{pais.id_pais}}" id="opcion_select" selected>{{pais.descripcion_pais}}
                        </option>
                        {% else %}
                        <option value="{{pais.id_pais}}" id="opcion_select">{{pais.descripcion_pais}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3 nuevo-modelo">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nueva Ciudad</span>
                    </div>
                    <input type="text" name="ciudad" class="form-control elemento" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" value="{{parameters.datos_act.descripcion_ciudad}}" id="cliente">
                </div>
                <div class="input-group mb-3" id="item-elemento" style="display:none">

                </div>
                {% endif %}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnCarga">Confirmar</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        </div>

        <script src="{% static './js/functions.js' %}"></script>
        <script src="{% static './js/validate.js' %}"></script>
        <script src="{% static './js/alerts.js' %}"></script>
        <script>

            var argsModal = {
                TITLE: 'Advertencia!',
                TEXT: 'Estas seguro de actualizar este registro?',
                ICON: 'warning',
                successPhrase: 'actualizado',
                {% if parameters.paisCiudad_actual == 0 %}
                typeOfMethod: 'submit',
                {% else %}
                typeOfMethod: 'confirm',
                {% endif %}
                btnId: 'cargarPaisCiudad'
            }

            var validacion = true

            {% if parameters.tipo_carga == 0 %}
                var valorOriginal = "{{parameters.datos_act.descripcion_tipo_documento}}"
            {% elif parameters.tipo_carga == 1 %}
                var valorOriginal = "{{parameters.datos_act.descripcion_pais}}"
            {% elif parameters.tipo_carga == 2 %}
                var valorOriginal = "{{parameters.datos_act.descripcion_ciudad}}"
            {% endif %}


            document.getElementById("cliente").addEventListener("keyup", (evt) => {
                var flag = false
                var valor = document.getElementById("cliente").value
                var valorData
                var msgError
                {% for parametro in parameters.listaparametros %}
                    {% if parameters.tipo_carga == 0 %}
                        valorData = "{{parametro.descripcion_tipo_documento}}"
                        msgError = "Tipo de Documento ya se existe."
                    {% elif parameters.tipo_carga == 1 %}
                        valorData = "{{parametro.descripcion_pais}}"
                        msgError = "Pais ya se existe."
                    {% elif parameters.tipo_carga == 2 %}
                        valorData = "{{parametro.descripcion_ciudad}}"
                        msgError = "Ciudad ya se existe."
                    {% endif %}
                if(valor == valorData && valor != valorOriginal) {
                    flag = true
                }
                {% endfor %}
            
                validacion = validarFormulario("item-elemento", flag, msgError)
            })

            document.getElementById("btnCarga").addEventListener("click", () => validarFormularioEdicion(validacion, "elemento"))
        </script>

        <script src="{% static './js/jquery.chained.js' %}"></script>
    </div>