{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block cuerpo %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes: Automotores Benedix</title>
    <link rel="stylesheet" href="{% static './css/globals.css' %}">
    <link rel="stylesheet" href="{% static './css/header.css' %}">
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/config.css' %}">
     <!-- Fuentes de Google -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap" rel="stylesheet">
     <!-- Fuentes de Google -->
</head>
<body>
    <section class="menu-card menu-right">
        <div class="container">
            <div class="card">
                <div class="card-icon">
                    <span class="icon-users"></span>
                </div>
                <h4>Usuarios</h4>
                <p>Consulta, modifica, elimina y crea nuevos usuarios</p>
                <a href="users">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-truck"></span>
                </div>
                <h4>Parametros de Productos</h4>
                <p>Administre variables de la sección Productos.</p>
                <a href="parameters_products">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-profile"></span>
                </div>
                <h4>Parametros de Clientes</h4>
                <p>Administre variables de la sección Clientes.</p>
                <a href="parameters_clients">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-circle-left"></span>
                </div>
                <h4>Regresar</h4>
                <p>Regresa al menu principal</p>
                <a href="inicio">Ingresar</a>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>