{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    {% block cabecera %}
    <title>Parametros de Clientes: Automotores Benedix</title>
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/config.css' %}">
    {% endblock %}
</head>
<body>
    {% block cuerpo %}
    <section class="menu-card menu-top">
        <div class="container-global">
            <div class="card">
                <div class="card-icon" style="background: #B80C09;">
                </div>
                <h4>Caja</h4>
                <p>Administre lista de Tipos de Documentos</p>
                <a href="cash_register">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon" style="background: #0b4f6c;">
                </div>
                <h4>Generar Compra</h4>
                <p>Administre lista de Países.</p>
                <a href="factura_compra">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon" style="background: #01BAEF;">
                    
                </div>
                <h4>Generar Venta</h4>
                <p>Administre lista de Ciudades.</p>
                <a href="#">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-circle-left"></span>
                </div>
                <h4>Regresar</h4>
                <p>Regresa al menu principal</p>
                <a href="inicio">Ingresar</a>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>