{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    {% block cabecera %}
    <title>Parametros de Clientes: Automotores Benedix</title>
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/config.css' %}">
    {% endblock %}
</head>
<body>
    {% block cuerpo %}
    <section class="menu-card menu-top">
        <div class="container-global">
            <div class="card">
                <div class="card-icon">
                    <span class="icon-coin-dollar"></span>
                </div>
                <h4>Caja</h4>
                <p>Apertura y cierre de caja junto a sus movimientos.</p>
                <a href="cash">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-clipboard"></span>
                </div>
                <h4>Compras</h4>
                <p>Genere Compras.</p>
                <a href="compra">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-cart"></span>
                </div>
                <h4>Ventas</h4>
                <p>Genere Ventas.</p>
                <a href="venta">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-circle-left"></span>
                </div>
                <h4>Regresar</h4>
                <p>Regresa al menu principal</p>
                <a href="inicio">Ingresar</a>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>