{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block cuerpo %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{static '../css/globals.css'}">
    <link rel="stylesheet" href="{statis '../css/section-styles/globals-section.css'}">
    <link rel="stylesheet" href="{static '../css/tables.css'}">
    <link rel="stylesheet" href="{static '../css/section-styles/invoice.css'}">
    <title>Generar Factura</title>
</head>
<body>
    <div class="form-container">
        <div class="title-and-back">
            <a href="{static '../index.html'}">
                <span class="icon-circle-left"></span>
            </a>
            <h1>Generar Factura</h1>
        </div>
        <form action="" class="form-global-box">
            <div class="form-global-box-container">
                <div class="form-item">
                    <h4>Nro. Factura</h4>
                        <input type="number" disabled>
                    </div>
                    <div class="form-item">
                        <h4>Fecha</h4>
                        <input id="fechaActual" type="date" required>
                    </div>
                    <div class="form-item">
                        <h4>RUC</h4>
                        <input type="number" required>
                    </div>
                    <div class="form-item large">
                        <h4>Producto</h4>
                        <input type="text">
                    </div>
                    <div class="form-item"></div>
                    <div class="form-item large">
                        <h4>Razon Social</h4>
                        <input type="text">
                    </div>
                </div>
                <div class="main-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Descripcion</th><th>Mes</th><th>Costo</th>
                            </tr>
                        </thead>
    
                        <tr>
                            <td>Agua</td><td>Enero</td><td>$ 3,000</td>
                        </tr>
                        <tr>
                            <td>Luz</td><td>Febrero</td><td>$ 5,500</td>
                        </tr>
                        <tr>
                            <td>Coche</td><td>Marzo</td><td>$ 10,100</td>
                        </tr>
                        <tr>
                            <td>Internet</td><td>Abril</td><td>$ 450</td>
                        </tr>
                    </table>
                </div>
                <div class="bottom-form-global-box">
                    <div class="form-item">
                        <h4>SubTotal</h4>
                        <input type="number" required>
                    </div>
                    <div class="form-item">
                        <h4>IVA</h4>
                        <input type="number" required>
                    </div>
                    <div class="form-item">
                        <h4>Total</h4>
                        <input type="number" required>
                    </div>
                </div>
                <button type="submit" class="btn-cargar">Cargar Producto</button>
            </div>
        </form>
    </div>
    <script src="{static '../js/functions.js'}"></script>
    {% endblock %}
</body>
</html>