{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block cabecera %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas: Automotores Benedix</title>
    <link rel="stylesheet" href="{% static './css/globals.css' %}">
    <link rel="stylesheet" href="{% static './css/header.css' %}">
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/config.css' %}">
    {% endblock %}
</head>
<body>
    {% block cuerpo %}
    <section class="menu-card menu-top">
        <div class="container-global">
            <div class="card">
                <div class="card-icon">
                    <span class="icon-user-tie"></span>
                </div>
                <h4>Clientes</h4>
                <p>Administre los Clientes</p>
                <a href="{% url 'clientes' 0 %}">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-user-check"></span>
                </div>
                <h4>Proveedores</h4>
                <p>Administre los Proveedores.</p>
                <a href="{% url 'proveedores' 0 %}">Ingresar</a>
            </div>
            <div class="card">
                <div class="card-icon">
                    <span class="icon-circle-left"></span>
                </div>
                <h4>Regresar</h4>
                <p>Regresa al menu principal</p>
                <a href="{% url 'inicio' %}">Ingresar</a>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>