{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block cabecera %}
    <link rel="stylesheet" href="{% static 'css/section-styles/invoice.css' %}">
    <link rel="stylesheet" href="{% static 'css/section-styles/globals-section.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static './css/DataTables/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static './css/DataTables/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/Buttons-2.2.2/css/buttons.bootstrap5.min.css' %}"/>
    <title>Generar Cuotas</title>
    {% endblock %}
</head>

<body>
    {% block cuerpo %}
    <div class="container menu-fade">
        <div class="title-and-back">
            <a href="{% url 'cancelar_pagare' %}" class="back" style="text-decoration: none;">
                <span class="icon-circle-left"></span>
            </a>

            <h1>Lista Pagarés de {{parameters.datos_act.nombre_cliente}} {{parameters.datos_act.apellido_cliente}}</h1>

        </div>

        <div class="container menu-fade" id="tabla-vehiculo">
            
                <h3 style="width: 100%; text-align: center;">Tabla de Cuotas</h3>
                <div class="div-tabla">
                    <table id="tabla" class="table display table-striped table-borderless table-hover" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <th>Nro. Cuota</th>
                                <th>Fch. Vencimiento</th>
                                <th>Monto Pagaré</th>
                                <th>Intereses</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                           {% for pagaredetalle in parameters.listapagaredetalle %}
                           {% if pagaredetalle.fch_pago_detalle_pagare is None %}


                           {% if parameters.pagare_actual == pagaredetalle.id_pagare_id %}
                           <tr>
                                <td>{{pagaredetalle.nro_cuota_detalle_pagare}}</td>
                                <td>{{pagaredetalle.fch_vencimiento_detalle_pagare}}</td>
                                <td class="documento">{{pagaredetalle.monto_pagare_detalle}}</td>
                                <td>{% if pagaredetalle.intereses_pagare_detalle %}{{pagaredetalle.intereses_pagare_detalle}}{% else %}0{%endif%}Gs</td>
                                <td>
                                    <button onclick="abrirModalEdicion('{% url 'pagar_cuota' pagaredetalle.id_pagare_detalle_pagare %}')"
                                        class="btn btn-warning">Pagar Cuota</button>
                                </td>
                            </tr>
                            {% endif %}


                           {% endif %}
                           {%endfor%}
                        </tbody>
                    </table>
                </div>
            
        </div>
    </div>

    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/functions.js'%}"></script>
    <script src="{% static 'js/DataTables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/DataTables/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/DataTables/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {    
            $('#tabla').DataTable({        
                "language": {
                    "emptyTable":     "La tabla se encuentra vacia.",
                    "info":           "Mostrando _END_ de _MAX_ registros",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing":     "Procesando...",
                    "search":         "",
                    "zeroRecords":    "No se obtuvo ninguna coincidencia",
                    oPaginate: {
                        sNext: '<i class="fa fa-forward"></i>',
                        sPrevious: '<i class="fa fa-backward"></i>',
                        sFirst: '<i class="fa fa-step-backward"></i>',
                        sLast: '<i class="fa fa-step-forward"></i>'
                    }
                },
                //para usar los botones   
                responsive: "true",
                dom: 'Bfrtilp',       
                buttons:[ 
	        		{
	        			extend:    'excelHtml5',
	        			text:      '<i class="fas fa-file-excel"></i> ',
	        			titleAttr: 'Exportar a Excel',
	        			className: 'btn btn-success'
	        		},
	        		{
	        			extend:    'pdfHtml5',
	        			text:      '<i class="fas fa-file-pdf"></i> ',
	        			titleAttr: 'Exportar a PDF',
	        			className: 'btn btn-danger'
	        		},
	        		{
	        			extend:    'print',
	        			text:      '<i class="fa fa-print"></i> ',
	        			titleAttr: 'Imprimir',
	        			className: 'btn btn-info'
	        		},
	        	]	        
            });     
        });


        var args = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de deshabilitar este Cliente?',
            ICON: 'warning', 
            successPhrase:'deshabilitado',
            typeOfMethod:'url',
        }

        var args2 = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de volver a habilitar este Cliente?',
            ICON: 'warning', 
            successPhrase:'habilitado',
            typeOfMethod:'url',
        }

        var argsInsert = {
            TITLE: 'Cambios aplicados!',
            TEXT: `El producto ha sido cargado con éxito`,
            ICON: 'success'
        }

        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }

        if(sessionStorage.getItem('1') == 1) {
            window.onload = alerta(argsInsert)
            sessionStorage.setItem('1', 0);
        }



    </script>
    {% endblock %}
</body>

</html>