body {
    display: flex;
    flex-direction: column;
}

.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h1 {
    font-family: 'Roboto', sans-serif;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    align-items: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75) inset;
}

.form-section {
    display: grid;
    grid-gap: 3em;
}

.form-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 6em 16em;
    grid-gap: .5em;
}

.form-item h4 {
    margin: 0;
}

.form-item select {
    width: 13em;
    border-radius: 3px;
    border-color: #dddddd;
    outline: none;
}

.form-select-add {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.form-add-icon {
    border: 1px solid var(--button-standby);
    border-radius: 5px;
    background-color: var(--button-standby);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-add-icon:hover{
    border-color: var(-button-hover);
    background-color: var(--button-hover);
}

.form-item input{
    width: auto;
    border-radius: 3px;
    border-color: #dddddd;
    outline: none;
    border-style: none;
}

.btn-cargar {
    color: white;
    background: #002e42;
    border-style: none;
    border-radius: 4px;
    height: 2em;
    font-family: 'Open Sans';
    font-weight: bold;
}

.btn-cargar:hover {
    background-color: #005b83;
    animation-duration: 3s;
    animation-name: color-change;
    animation-iteration-count: 3;
}