{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block cuerpo %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/section-styles/invoice.css' %}">
    <link rel="stylesheet" href="{% static 'css/section-styles/globals-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/section-styles/invoice.css' %}">
    <title>Generar Compra</title>
</head>
<body>
    <div class="form-container">
        <div class="title-and-back">
            <a href="factura" style="text-decoration: none">
                <span class="icon-circle-left"></span>
            </a>
            <h1>Generar Compra</h1>
        </div>

        <div class="card menu-fade">
            <div class="card-body">
                <form action="" method="POST" class="form-invoice" id="cargarProducto">
                    {% csrf_token %}
                    <div class="form-body" id="proveedor-data">
                        <div class="form-div-invoice">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="proveedor" placeholder="Proveedor" aria-describedby="button-addon4" disabled>
                                  <button class="btn btn-outline-primary" id="mostrarProveedores" type="button" onclick="abrirModalEdicion('{% url 'modal_view_proveedor' %}')">Seleccionar</button>
                            </div>
                        </div>
                        <div class="form-div-invoice">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">RUC</span>
                                </div>
                                <input type="text" name="ruc" id="ruc"
                                class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                            </div>
                        </div>
                        <div class="form-div-invoice">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="transmision">Fecha Act.</label>
                                </div>
                                <input type="text" name="fch_actual" id="fch_actual" value="{{parameters.fecha_act}}"
                                class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-body" id="factura-data">
                        <div class="form-div-invoice">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="transmision">Nro. Timbrado</label>
                                </div>
                                <select class="form-select" id="nro_timbrado" name="nro_timbrado" onchange="cargarFecha(this)" required>
                                    <option value="" ></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-div-invoice">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Nro. Factura</span>
                                </div>
                                <input type="number" name="motor" id="motor" value="{{ parameters.datos_act.motor_vehiculo }}"
                                class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                            </div>
                        </div>
                        <div class="form-div-invoice">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="">Fecha Vto.</label>
                                </div>
                                <input type="text" name="fch_vencimiento" id="fch_vencimiento" value=""
                                class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                            </div>
                        </div>

                        <div class="form-div-invoice mb-3" id="condicion-pago">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Crédito
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Contado
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/datatables.js'%}"></script>
    <script src="{% static 'js/functions.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/DataTables/js/datatables.min.js' %}"></script>
    <script>
        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }
        
        function cargarFecha(event) {
            var auxTimbrado = ""
            var inputFch = document.getElementById("fch_vencimiento")
            {% for timbrado in parameters.listatimbrado %}
            auxTimbrado = "{{timbrado.nro_timbrado}}"
                if(auxTimbrado == event.value) {
                    inputFch.value = "{{timbrado.fch_vencimiento_timbrado}}"
                    console.log("{{timbrado.fch_vencimiento_timbrado}}")
                }
            {% endfor %}
        }
    </script>
    {% endblock %}
</body>
</html>