{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block cabecera %}
    <link rel="stylesheet" href="{% static 'css/section-styles/invoice.css' %}">
    <link rel="stylesheet" href="{% static 'css/section-styles/globals-section.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static './css/DataTables/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static './css/DataTables/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/Buttons-2.2.2/css/buttons.bootstrap5.min.css' %}"/>
    <title>Generar Cuotas</title>
    {% endblock %}
</head>
<body>
    {% block cuerpo %}
    <div class="form-container">
        <div class="title-and-back">
            <h1>Generar Cuotas</h1>
        </div>

        <div class="card menu-fade">
            <div class="card-body">

                    <input type="text" id="id_cliente" name="id_cliente" style="display: none;">
                    <input type="text" id="id_factura_parametros" name="id_factura_parametros" style="display: none;">
                    <input type="text" id="id_vehiculo" name="id_vehiculo" style="display: none;">
                    <input type="text" id="subtotal_send" name="subtotal" style="display: none;">
                    <input type="text" id="iva10_send" name="iva10" style="display: none;">
                    <input type="text" id="total_send" name="" style="display: none;">

                    <h3>Monto</h3>
                <div class="container" style="display:grid; grid-template-columns: 1fr 1fr 1fr; gap: .5em;">
                    <div class="form-div-invoice">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">SubTotal</span>
                            </div>
                            <input type="text" name="subtotal" id="subtotal" value="{{parameters.datos_act.subtotal_factura_venta}}"
                            class="form-control precios" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Gs.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-div-invoice">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">I.V.A 10%</span>
                            </div>
                            <input type="text" name="iva10" id="iva10" value="{{parameters.datos_act.iva10_factura_venta}}"
                            class="form-control precios" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Gs.</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-div-invoice">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Total</span>
                            </div>
                            <input type="text" name="total" id="total" value="{{parameters.datos_act.total_factura_venta}}" readonly
                            class="form-control saldos montoTotal" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="" onkeydown="format(this)" onchange="format(this)" >
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Gs.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-div-invoice">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Monto de Entrega</span>
                            </div>
                            <input type="text" name="monto_entrega" id="monto_entrega"
                            class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="" onkeydown="format(this)" onchange="format(this)" >
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Gs.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-div-invoice">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Fch. Primera Cuota</span>
                            </div>
                            <input type="date" name="" id="fecha_desde"
                            class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>

                    <div class="form-div-invoice">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Cant. Cuotas</span>
                            </div>
                            <input type="number" name="cant_cuotas" id="cant_cuotas" onkeyup="calcularInteres()"
                            class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-primary" id="btn-vehiculo" onclick="agregarFila(true)">
                    Generar Lista Cuotas
                </button>
                <button class="btn btn-success" id="" onclick="agregarFila(false)">
                    Cargar Cuotas
                </button>
              </div>
        </div>

        <div class="card menu-fade" id="tabla-vehiculo">
            <div class="card-body">
                <h3>Tabla de Cuotas</h3>
                <div class="div-tabla">
                    <table id="tabla" class="table display table-striped table-borderless table-hover" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <th>Nro. Cuota</th>
                                <th>Fch. Vencimiento</th>
                                <th>Monto Pagaré</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/functions.js'%}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/DataTables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/DataTables/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/DataTables/js/dataTables.responsive.min.js' %}"></script>
    <script>

        formatInputLoaded("precios")
        var total = document.getElementById("total").value.replaceAll(".","");

        function calcularInteres(){
            if(parseInt(document.getElementById("cant_cuotas").value) < 10) {
                var porcentajeInteres = "1.0" + document.getElementById("cant_cuotas").value;
            } else {
                var porcentajeInteres = "1." + document.getElementById("cant_cuotas").value;
            }

            document.getElementById("total").value = parseFloat({{parameters.datos_act.total_factura_venta}}) * parseFloat(porcentajeInteres)
            formatInputLoaded("montoTotal")
        }


        function agregarFila(flag) {
            var fechaInicio = document.getElementById("fecha_desde").value

            var anioInicio = parseInt(fechaInicio.substring(0, 4))
            var mesInicio = parseInt(fechaInicio.substring(5, 7))
            var diaInicio = fechaInicio.substring(8, 10)

            var cuotas = document.getElementById("cant_cuotas").value;
            var total = document.getElementById("total").value.replaceAll(".","");
            var monto_entrega = document.getElementById("monto_entrega").value.replaceAll(".","");

            var montoCuota = (parseInt(total) - parseInt(monto_entrega)) / parseInt(cuotas)
            montoCuota = parseInt(montoCuota)

            if(flag) {
                document.getElementById("tabla").innerHTML = 
                    `
                    <thead class="table-dark">
                        <tr>
                            <th>Nro. Cuota</th>
                            <th>Fch. Vencimiento</th>
                            <th>Monto Pagaré</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"> 
                    </tbody>
                    `            
            }
            
            for(let i=0; i < parseInt(cuotas); i++){
                console.log(parseInt(cuotas))
                function obtenerFecha(){

                    mesInicio += 1
                    if(mesInicio > 12) {
                        mesInicio = 1
                        anioInicio += 1 
                    }

                    if(mesInicio < 10) {
                        mesInicio
                    }

                    return `${anioInicio}-${((mesInicio < 10) ? '0' + mesInicio : mesInicio)}-${diaInicio}`

                }
                if(flag){
                    document.getElementById("tabla").insertRow(-1).innerHTML = `<td>${i+1}</td> <td>${obtenerFecha()}</td> <td class="precio">${montoCuota}</td>`
                } else {
                    $.ajax({
                        url: "{% url 'invoice_fee_edit' %}",
                        type: 'POST',
                        data:{
                            'id_pagare': {{parameters.id_pagare}},
                            'fecha_inicio': fechaInicio,
                            'nro_cuota_detalle_pagare': i+1,
                            'fch_vencimiento_detalle_pagare': obtenerFecha(),
                            'monto_pagare_detalle': montoCuota,
                            'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                        success: 
                        function(data){
                            console.log(montoCuota)
                            if(i+1 == parseInt(cuotas)) {
                                sessionStorage.setItem('1', 1);
                                location.href = '../factura_venta'
                            }
                        }
                    })
                }


            }
            formatText("precio")
        }


        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }
        

        function financial(x) {
            return Number.parseFloat(x).toFixed(2);
        }


        var argsModal = {
            TITLE: 'Advertencia!', 
            TEXT: 'Estás seguro de generar esta Factura de Venta?',
            ICON: 'warning', 
            successPhrase:'generado',
            typeOfMethod:'confirm',
            btnId: 'cargarVenta'
        }


        var argsInsert = {
            TITLE: 'Cambios aplicados!',
            TEXT: `La factura ha sido generada con éxito`,
            ICON: 'success'
        }
        
        if(sessionStorage.getItem('1') == 1) {
            window.onload = alerta(argsInsert)
            sessionStorage.setItem('1', 0);
        }

    </script>
    {% endblock %}
</body>
</html>