{% load static %}
<div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Clientes</title>
            <link rel="stylesheet" href="{% static 'css/modal.css' %}">
            <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.css'%}">
            <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.css'%}">
            <link rel="stylesheet" href="{% static './css/DataTables/dataTables.bootstrap5.min.css' %}">
            <link rel="stylesheet" href="{% static './css/DataTables/responsive.dataTables.min.css' %}">
            <link rel="stylesheet" href="{% static './css/tables.css' %}">
            <!-- Fuentes de Google -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
                rel="stylesheet">
            <!-- Fuentes de Google -->
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </div>
        <div class="modal-body">
            <div class="container">
                <table id="tablaCliente" class="table table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre y Apellido</th>
                            <th>Tipo Documento</th>
                            <th>Nro. Documento</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Género</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in parameters.listacliente  %}
                        {% if cliente.estado_cliente == 0 %}
                        <tr>
                            <td>{{cliente.id_cliente}}</td>

                            <td>{{ cliente.nombre_cliente }} {{ cliente.apellido_cliente }}</td>


                        {% for documento in parameters.listadocumentos %}
                            {% if documento.id_tipo_documento == cliente.id_tipo_documento_id %}
                                <td>{{documento.descripcion_tipo_documento}}</td>
                            {% endif %}
                        {% endfor %}

                            <td class="documento">{{ cliente.documento_cliente }}</td>

                            <td>{{ cliente.telefono_cliente }}</td>

                            <td>
                                {% for pais in parameters.listapais %}
                                    {% if pais.id_pais == cliente.id_pais_id %}
                                        {{pais.descripcion_pais}},
                                    {% endif %}
                                {% endfor %}
                                {% for ciudad in parameters.listaciudad %}
                                    {% if ciudad.id_ciudad == cliente.id_ciudad_id %}
                                        {{ciudad.descripcion_ciudad}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% if cliente.genero_cliente == 0 %}
                            <td>Femenino</td>
                        {% else %}
                            <td>Masculino</td>
                        {%endif%}
                            <td class="actions">
                                <button class="btn btn-primary boton-seleccionar" data-bs-dismiss="modal" onclick="obtenerValores(this)">
                                    Seleccionar
                                </button>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
        <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'js/alerts.js' %}"></script>
        <script src="{% static 'js/functions.js'%}"></script>
        <script src="{% static 'js/DataTables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/DataTables/js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'js/DataTables/js/dataTables.responsive.min.js' %}"></script>
        <script type="text/javascript">

            $(document).ready(function(){
                $('#tablaCliente').DataTable({
                    responsive: true,
                    "language": {
                    "emptyTable":     "La tabla se encuentra vacia.",
                    "info":           "Mostrando _END_ de _MAX_ registros",
                    "infoEmpty":      "",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing":     "Procesando...",
                    "search":         "",
                    "zeroRecords":    "No se obtuvo ninguna coincidencia",
                    oPaginate: {
                        sNext: '<i class="fa fa-forward"></i>',
                        sPrevious: '<i class="fa fa-backward"></i>',
                        sFirst: '<i class="fa fa-step-backward"></i>',
                        sLast: '<i class="fa fa-step-forward"></i>'
                    }
                }
            });
        });

            function obtenerValores(e) {
                // vamos al elemento padre (<tr>) y buscamos todos los elementos <td>
                // que contenga el elemento padre
                var elementosTD=e.parentElement.parentElement
                
                // recorremos cada uno de los elementos del array de elementos <td>
                document.getElementById("cliente").value = elementosTD.cells.item(1).innerText;
                document.getElementById("documento").value = elementosTD.cells.item(3).innerText;
                var clienteSeleccionado = elementosTD.cells.item(0).innerText;
                document.getElementById("id_cliente").value = clienteSeleccionado

                $('#btn-ver-vehiculo').show(500); //muestro mediante id
            }

        </script>
    </div>
</div>