{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block cuerpo %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/globals.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/globals-section.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/clients/edit_client.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
    <title>{{ parameters.titulo }}</title>
</head>

<body>
    <div class="form-container">
        <div class="title-and-back">
            <a href="../clientes/0" style="text-decoration: none">
                <span class="icon-circle-left"></span>
            </a>
            <h1>{{ parameters.titulo }}</h1>
        </div>
        <form action="{% url 'edit_client' parameters.clie_actual %}" method="POST" class="card menu-fade" id="cargarCliente" onsubmit="sessionStorage.setItem('1', 1);">
            {% csrf_token %}
            <div class="input-group">
                <select class="form-select" name="tipo_documento" id="elemento-1" required>
                    <option value="" data-chained="" selected></option>
                    {% for tipo_documento in parameters.listatipodoc %}
                    {% if tipo_documento.id_tipo_documento == parameters.datos_act.id_tipo_documento_id %}
                    <option value="{{tipo_documento.id_tipo_documento}}" id="opcion_select" selected>
                        {{tipo_documento.descripcion_tipo_documento}}</option>
                    {% else %}
                    <option value="{{tipo_documento.id_tipo_documento}}" id="opcion_select">
                        {{tipo_documento.descripcion_tipo_documento}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="abrirModalEdicion('{% url 'parameters_modal_client' 0 0 0 %}')">Nuevo documento</button>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Documento</span>
                </div>
                <input type="text" name="documento_cliente" id="documento_cliente" value="{{ parameters.datos_act.documento_cliente }}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" onkeydown="format(this)" onchange="format(this)" required>
            </div>

            <div class="input-group mb-3" id="item-documento" style="display:none">

            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                </div>
                <input type="text" name="nombre_cliente" value="{{ parameters.datos_act.nombre_cliente }}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                </div>
                <input type="text" name="apellido_cliente" value="{{ parameters.datos_act.apellido_cliente }}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                </div>
                <input type="text" name="telefono_cliente" value="{{ parameters.datos_act.telefono_cliente }}"
                    class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
            </div>

            <div class="input-group">
                <select class="form-select" name="pais" id="elemento-2" required>
                    <option value="" data-chained="" selected></option>
                    {% for pais in parameters.listapais %}
                    {% if pais.id_pais == parameters.datos_act.id_pais_id %}
                    <option value="{{pais.id_pais}}" id="opcion_select" data-chained="{{pais.id_pais}}" selected>{{pais.descripcion_pais}}</option>
                    {% else %}
                    <option value="{{pais.id_pais}}" id="opcion_select" data-chained="{{pais.id_pais}}">{{pais.descripcion_pais}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="abrirModalEdicion('{% url 'parameters_modal_client' 0 1 0 %}')">Nuevo país</button>
                </div>
            </div>


            <div class="input-group">
                <select class="form-select" name="ciudad" id="elemento-3" required>
                    <option value="" data-chained="" selected></option>
                    {% for ciudad in parameters.listaciudad %}
                    {% if ciudad.id_ciudad == parameters.datos_act.id_ciudad_id %}
                    <option value="{{ciudad.id_ciudad}}" id="opcion_select" data-chained="{{ciudad.id_pais_id}}" selected>{{ciudad.descripcion_ciudad}}
                    </option>
                    {% else %}
                    <option value="{{ciudad.id_ciudad}}" id="opcion_select" data-chained="{{ciudad.id_pais_id}}">{{ciudad.descripcion_ciudad}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="abrirModalEdicion('{% url 'parameters_modal_client' 0 2 0 %}')">Nueva ciudad</button>
                </div>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="genero_cliente">Género</label>
                </div>
                <select class="form-select" id="genero_cliente" name="genero_cliente">
                    {% if parameters.datos_act.genero_cliente == 0%}
                    <option value=0 selected>Femenino</option>
                    <option value=1>Masculino</option>
                    {% else %}
                    <option value=0>Femenino</option>
                    <option value=1 selected>Masculino</option>
                    {% endif %}
                </select>
            </div>
        </form>
        <div class="modal fade" id="edicion" role="dialog">

        </div>
        <button class="btn btn-success" style="margin-top: 1em" form="cargarCliente" id="cargar" onclick="return verificarFormulario(this)">{{ parameters.titulo }}</button>
    </div>
    <script src="{% static './js/jquery.js' %}"></script>
    <script src="{% static './js/jquery.chained.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script>

        $("#elemento3").chained("#elemento2")

        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            console.log(url)
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }


        document.getElementById("documento_cliente").addEventListener("keyup", (evt) => {
            var flag = false
            var valor = document.getElementById("documento_cliente").value
            var valorCorregido = ''
            for(let i = 0; i < valor.length; i++) {
                valorCorregido += valor.charAt(i).replace(".","")
            }
            var valorData
            console.log(valorCorregido)
            {% for cliente in parameters.listacliente %}
            valorData = "{{cliente.documento_cliente}}"
            if(valorCorregido == valorData) {
                flag = true
            }
            {% endfor %}
            validarFormulario("item-documento", flag, "Nro. de documento ya se encuentra en uso.")
        })
            
        

    </script>
    {% endblock %}
</body>

</html>