{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block cuerpo %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/clients/clients.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
</head>

<body>
    <div class="form-container menu-fade">
        <div class="title-and-back">
            <a href="{% url 'personas' %}" class="back" style="text-decoration: none;">
                <span class="icon-circle-left"></span>
            </a>
            <h1>Proveedores</h1>
            <a href="{% url 'edit_proveedor' 0 %}">
                <button class="btn btn-dark">Nuevo Proveedor</button>
            </a>
            <a href="{% url 'proveedores' parameters.urlSwitch %}">
                <button class="btn " id="btnMostrarOcultar">{{parameters.buttonText}}</button>
            </a>
        </div>
        {% if parameters.mode == 1%}
        <div class="alert alert-warning" role="alert">
            Los clientes que se encuentren en esta lista no aparecerán disponibles para efectuar ventas
        </div>
        {% endif %}
        <table id="tablaProveedor">
            <thead>
                <tr>
                    <th>RUC</th>
                    <th>Razon Social</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in parameters.listaproveedor  %}
                {% if proveedor.estado_proveedor == parameters.mode %}
                <tr>
                    <td class="documento">{{ proveedor.ruc_proveedor }}</td>

                    <td>{{ proveedor.razon_social_proveedor}}</td>

                    <td>{{ proveedor.telefono_proveedor }}</td>

                    <td>{{ proveedor.direccion_proveedor }}</td>

                    <td class="actions">
                        <button class="btn btn-info" onclick="abrirModalEdicion('{% url 'timbrado' proveedor.id_proveedor %}')">
                            Timbrado
                        </button>
                        <button onclick="abrirModalEdicion('{% url 'edit_proveedor' proveedor.id_proveedor %}')"
                            class="btn btn-warning">Editar</button>
                            {% if parameters.mode == 0 %}
                        <button class="btn btn-danger" onclick="alertaConfirmar('{% url 'disable_proveedor' proveedor.id_proveedor 1 %}', args)">
                            Deshabilitar
                        </button>
                            {% else %}
                        <button class="btn btn-success"
                        onclick="alertaConfirmar('{% url 'disable_proveedor' proveedor.id_proveedor 0 %}', args2)">
                            Habilitar
                        </button>
                            {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/datatables.js'%}"></script>
    <script src="{% static 'js/functions.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/DataTables/js/datatables.min.js' %}"></script>
    <script type="text/javascript">
        window.onload = function colorBoton() {
            boton = document.getElementById("btnMostrarOcultar")
            if(boton.innerHTML == 'Ver deshabilitados') {
                boton.className = "btn btn-danger"
            } else {
                boton.className = "btn btn-dark"
            }
        }

       dataTableId('tablaProveedor')

        var args = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de deshabilitar este Proveedor?',
            ICON: 'warning', 
            successPhrase:'deshabilitado',
            typeOfMethod:'url',
        }

        var args2 = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de volver a habilitar este Proveedor?',
            ICON: 'warning', 
            successPhrase:'habilitado',
            typeOfMethod:'url',
        }

        var argsInsert = {
            TITLE: 'Cambios aplicados!',
            TEXT: `El producto ha sido cargado con éxito`,
            ICON: 'success'
        }

        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }

        if(sessionStorage.getItem('1') == 1) {
            window.onload = alerta(argsInsert)
            sessionStorage.setItem('1', 0);
        }
        

    </script>
    {% endblock %}
</body>

</html>