{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="margin: 0 auto;">
        <div class="modal-modal-header">
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static './css/section-styles/products/modalAdd.css' %}">
        </div>
        <div class="modal-body">

            <form action="{% url 'edit_mark' parameters.mark_actual %}" method="POST"
                id="editarMarca">
                {% csrf_token %}
                <div class="input-group mb-3 editar-marca">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default" onclick="">Editar Marca</span>
                    </div>
                    <input type="text" id="marca" name="marca" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" value="{{parameters.datos_act.descripcion_marca}}" id="marca">
                </div>
                <div class="input-group mb-3 editar-marca" id="item-marca" style="display: none">

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnCarga">Confirmar</button>
            <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
        </div>

        <script src="{% static './js/functions.js' %}"></script>
        <script src="{% static './js/validate.js' %}"></script>
        <script src="{% static './js/alerts.js' %}"></script>
        <script>

            var argsModal = {
                TITLE: 'Advertencia!',
                TEXT: 'Estás seguro de cargar este Parametro?',
                ICON: 'warning', 
                successPhrase:'actualizado',
                typeOfMethod:'confirm',
                btnId: 'editarMarca'
            }

            var validacion = true

            document.getElementById("marca").addEventListener("keyup", (evt) => {
                var flag = false
                var valor = document.getElementById("marca").value
                var valorOriginal = "{{parameters.datos_act.descripcion_marca}}"
                var valorData
                {% for marca in parameters.listamarca %}
                valorData = "{{marca.descripcion_marca}}"
                if(valor == valorData && valor != valorOriginal) {
                    flag = true
                }
                {% endfor %}
            
                validacion = validarFormulario("item-marca", flag, "Nombre de Marca ya se encuentra en uso.")
            })

            document.getElementById("btnCarga").addEventListener("click", () => validarFormularioEdicion(validacion))
        </script>
    </div>