{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block cuerpo %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Nuevo Producto</title>
    <link rel="stylesheet" href="{% static './css/section-styles/new-product.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Fuentes de Google -->
</head>
<body>
    <div class="form-container">
        <div class="title-and-back">
            <a href="inicio">
                <span class="icon-circle-left"></span>
            </a>
            <h1>Cargar Nuevo Producto</h1>
        </div>
        <form action="{% url 'edit_user' parameters.usu_actual %}" method="post" class="form-global-box">
            {% csrf_token %}
            <section class="form-section">
                <div class="form-item">
                    <h4>Marca</h4>
                    <div class="form-select-add">
                        <select name="Marca" id="">
                            <option value="toyota">Toyota</option>
                            <option value="toyota">Nissan</option>
                            <option value="toyota">Hyundai</option>
                        </select>
                        <div class="form-add-icon">
                            <a href="">
                                <span class="icon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <h4>Modelo</h4>
                    <div class="form-select-add">
                        <select name="Modelo" id="">
                            <option value="toyota">Corolla</option>
                            <option value="toyota">Auris</option>
                            <option value="toyota">Premio</option>
                        </select>
                        <div class="form-add-icon">
                            <a href="">
                                <span class="icon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
        
                <div class="form-item">
                    <h4>Color</h4>
                    <div class="form-select-add">
                        <select name="Color" id="">
                            <option value="toyota">Blanco</option>
                            <option value="toyota">Gris</option>
                            <option value="toyota">Negro</option>
                        </select>
                        <div class="form-add-icon">
                            <a href="">
                                <span class="icon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="form-item">
                    <h4>Transmision</h4>
                    <select name="Transmision" id="">
                        <option value="toyota">Automática</option>
                        <option value="toyota">Manual</option>
                    </select>
                </div>
    
                <div class="form-item">
                    <h4>Motor</h4>
                    <input type="number" name="Motor" id="">
                </div>
            </section>
            <section class="form-section">
                <div class="form-item">
                    <h4>Año</h4>
                    <input type="year" name="Anio" id="">
                </div>
                <div class="form-item">
                    <h4>Nro. Chasis</h4>
                    <input type="text" name="Chasis">
                </div>
                <div class="form-item">
                    <h4>Precio Costo</h4>
                    <input type="number" name="Costo">
                </div>
                <div class="form-item">
                    <h4>Precio Venta</h4>
                    <input type="number" name="Venta">
                </div>
                <button type="submit" class="btn-cargar">Cargar Producto</button>
            </section>
        </form>
    </div>
    {% endblock %}
</body>
</html>