{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="margin: 0 auto;">
        <div class="modal-modal-header">
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static './css/section-styles/products/modalAdd.css' %}">
        </div>
        <div class="modal-body">

            <form action="{% url 'mark_and_model' parameters.marcaModelo_actual parameters.tipo_carga parameters.redirigir %}" method="POST"
                id="editarMarcaModelo">
                {% csrf_token %}
                {% if parameters.tipo_carga == 0%}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default" onclick="">Nueva Marca</span>
                    </div>
                    <input type="text" name="marca" class="form-control nueva-marca" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" id="elemento">
                </div>

                <div class="input-group mb-3" id="item-elemento" style="display:none">

                </div>

                {% elif parameters.tipo_carga == 1 %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nuevo Modelo</span>
                    </div>
                    <input type="text" name="modelo" class="form-control nueva-marca" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" id="elemento">
                </div>

                <div class="input-group mb-3" id="item-elemento" style="display:none">

                </div>

                <div class="input-group">
                    <select class="custom-select" name="marca">
                        <option value="0" selected>------</option>
                        {% for marca in parameters.listamarca %}
                        {% if marca.id_marca == parameters.datos_act.id_marca_id %}
                        <option value="{{marca.id_marca}}" id="opcion_select" selected>{{marca.descripcion_marca}}
                        </option>
                        {% else %}
                        <option value="{{marca.id_marca}}" id="opcion_select">{{marca.descripcion_marca}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% else %}

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default" onclick="">Nuevo Color</span>
                    </div>
                    <input type="text" name="color" class="form-control nueva-marca" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" id="elemento">
                </div>
                <div class="input-group mb-3" id="item-elemento" style="display:none">

                </div>

                {% endif %}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnCarga">Confirmar</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        </div>

        <script src="{% static './js/functions.js' %}"></script>
        <script src="{% static './js/validate.js' %}"></script>
        <script src="{% static './js/alerts.js' %}"></script>
        <script>

            var argsModal = {
                TITLE: 'Advertencia!',
                TEXT: 'Estás seguro de cargar este Parametro?',
                ICON: 'warning', 
                successPhrase:'actualizado',
                typeOfMethod:'confirm',
                btnId: 'editarMarcaModelo',
                ajx: true,
                {% if parameters.tipo_carga == 0 %}
                edit_name: 'edit_mark',
                delete_name: 'delete_mark',
                foreignFlag: true,
                nombreSelect: 'elemento-1'

                {% elif parameters.tipo_carga == 1 %}
                edit_name: '',
                delete_name: 'delete_model',
                nombreSelect: 'elemento-2'

                {% else %}
                edit_name: 'edit_color',
                delete_name: 'delete_color',
                foreignFlag: true,
                nombreSelect: 'elemento-3'

                {% endif %}
            }

            var validacion = true

            document.getElementById("elemento").addEventListener("keyup", (evt) => {
                var flag = false
                var valor = document.getElementById("elemento").value
                var valorData
                var msgError
                
                {% for parametro in parameters.listaparametros %}
                    {% if parameters.tipo_carga == 0 %}
                        valorData = "{{parametro.descripcion_marca}}"
                        msgError = "Esa marca ya se existe."
                    {% elif parameters.tipo_carga == 1 %}
                        valorData = "{{parametro.descripcion_modelo}}"
                        msgError = "Ese modelo ya se existe."
                    {% else %}
                        valorData = "{{parametro.descripcion_color}}"
                        msgError = "Ese color ya se existe."
                    {% endif %}
                if(valor == valorData) {
                    flag = true
                }
                {% endfor %}
                validacion = validarFormulario("item-elemento", flag, msgError)
            })

            document.getElementById("btnCarga").addEventListener("click", () => validarFormularioEdicion(validacion, "nueva-marca", true))
        </script>
        <script src="{% static './js/jquery.chained.js' %}"></script>
    </div>