{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-modal-header">
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </div>
        <div class="modal-body">

            <form action="{% url 'edit_product' parameters.product_actual %}" method="POST" id="editarProducto">
                {% csrf_token %}
                <section class="form-section">
                    <div class="form-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="marca">Marca</label>
                            </div>
                            <select class="custom-select" id="marca" name="marca" disabled>
                                {% for marca in parameters.listamarca %}
                                {% if marca.id_marca == parameters.datos_act.id_marca_id %}
                                <option value="{{marca.id_marca}}" id="opcion_select" selected>
                                    {{marca.descripcion_marca}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                          </div>
                    </div>
                    <div class="form-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="modelo">Modelo</label>
                            </div>
                            <select class="custom-select" id="modelo" name="modelo" disabled>
                                {% for modelo in parameters.listamodelo %}
                                {% if modelo.id_modelo == parameters.datos_act.id_modelo_id %}
                                <option value="{{modelo.id_modelo}}" id="opcion_select"
                                selected>{{modelo.descripcion_modelo}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                          </div>
                    </div>

                    <div class="form-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="color">Color</label>
                            </div>
                            <select class="custom-select" id="color" name="color" disabled>
                                {% for color in parameters.listacolor %}
                                    {% if color.id_color == parameters.datos_act.id_color_id %}
                                    <option value="{{color.id_color}}" id="opcion_select" selected>{{color.descripcion_color}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                          </div>    
                    </div>

                    <div class="form-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="transmision">Transmision</label>
                            </div>
                            <select class="custom-select" id="transmision" name="transmision" disabled>
                                {% if parameters.datos_act.transmision_vehiculo == 'Manual'%}
                                <option value="Manual" selected>Manual</option>
                                {% else %}
                                <option value="Automatica" selected>Automática</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Motor</span>
                            </div>
                            <input type="number" name="motor" value="{{ parameters.datos_act.motor_vehiculo }}"
                            class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                </section>
                <section class="form-section">
                    <div class="form-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Año</span>
                            </div>
                            <input type="number" name="anio" class="form-control" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" value="{{ parameters.datos_act.anio_vehiculo }}" disabled>
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Chasis</span>
                            </div>
                            <input type="text" name="chasis" value="{{ parameters.datos_act.nro_chassis_vehiculo }}" 
                            class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                    <div class="form-item">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Costo</span>
                            </div>
                            <input type="text" name="costo" value="{{ parameters.datos_act.precio_costo }}" 
                            class="format form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="input-group mb-3"> 
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Venta</span>
                              </div>
                              <input type="text" name="venta" value="{{ parameters.datos_act.precio_venta }}" 
                              class="format form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>

                    </div>

                    <div class="form-item-radio">
                        {% if parameters.datos_act.estado_vehiculo == 0%}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="si" name="existencia" class="custom-control-input" value=1 disabled>
                            <label class="custom-control-label" for="si">Disponible</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="no" name="existencia" class="custom-control-input" value=0 checked disabled>
                            <label class="custom-control-label" for="no">No disponible</label>
                        </div>
                        {% else %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="si" name="existencia" class="custom-control-input" checked value=1 disabled>
                            <label class="custom-control-label" for="si">Disponible</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="no" name="existencia" class="custom-control-input" value=0 disabled>
                            <label class="custom-control-label" for="no">No disponible</label>
                        </div>
                        {% endif %}
                    </div>

                </section>
            </form>
            <script src="{% static 'js/functions.js'%}"></script>
            <script>
                formatInputLoaded("format")
            </script>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>