{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block cuerpo %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static './css/section-styles/search.css' %}">
    <link rel="stylesheet" href="{% static './css/tables.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/config/users.css' %}">
    <link rel="stylesheet" href="{% static './css/section-styles/products/products.css'%}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Fuentes de Google -->
</head>

<body>
    <div class="form-container">
        <div class="title-and-back">
            <a href="inicio" class="back" style="text-decoration: none;">
                <span class="icon-circle-left"></span>
            </a>
            <h1>Productos</h1>
            <a href="{% url 'edit_product' 0 %}">
                <button class="btn btn-dark">Nuevo Producto</button>
            </a>
        </div>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Motor</th>
                    <th>Año</th>
                    <th>Color</th>
                    <th>Precio Venta</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for lista in parameters.listaproducto %}
                {% if lista.estado_vehiculo > 0 %}
                <tr>
                    {% for marca in parameters.listamarca %}
                    {% if marca.id_marca == lista.id_marca_id %}
                    <td>{{marca.descripcion_marca}}</td>
                    {% endif %}
                    {% endfor %}

                    {% for modelo in parameters.listamodelo %}
                    {% if modelo.id_modelo == lista.id_modelo_id %}
                    <td>{{modelo.descripcion_modelo}}</td>
                    {% endif %}
                    {% endfor %}

                    <td>{{ lista.motor_vehiculo }}cc</td>

                    <td>{{ lista.anio_vehiculo }}</td>

                    {% for color in parameters.listacolor %}
                    {% if color.id_color == lista.id_color_id %}
                    <td>{{color.descripcion_color}}</td>
                    {% endif %}
                    {% endfor %}

                    <td class="precio">{{ lista.precio_venta }}</td>

                    {% if lista.estado_vehiculo == 1 %}
                    <td>
                        <span class="badge bg-success" style="color: white">DISPONIBLE</span>
                    </td>
                    {% else %}
                    <td>
                        <span class="badge bg-secondary" style="color: white">LISTO</span>
                    </td>
                    {% endif %}

                    <td class="actions">
                        <button onclick="abrirModalEdicion('{% url 'modal_info' lista.id_vehiculo %}')" class="btn btn-info">Info</button>
                        <button onclick="abrirModalEdicion('{% url 'edit_product' lista.id_vehiculo %}')"
                            class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger"
                            onclick="alertaConfirmar('{% url 'delete_product' lista.id_vehiculo %}', args)">
                            Borrar
                        </button>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/datatables.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/DataTables/js/datatables.min.js' %}"></script>
    <script type="text/javascript">
        dataTable()
        formatText("precio") //formatear numeros

        var argsInsert = {
            TITLE: 'Cambios aplicados!',
            TEXT: `El producto ha sido cargado con éxito`,
            ICON: 'success'
        }

        var args = {
            TITLE: 'Precaución!', 
            TEXT: 'Estás seguro de eliminar este Producto?',
            ICON: 'warning', 
            successPhrase:'eliminado',
            typeOfMethod:'url',
        }

        if(sessionStorage.getItem('1') == 1) {
            window.onload = alerta(argsInsert)
            sessionStorage.setItem('1', 0);
        }

        var $ = jQuery.noConflict();
        function abrirModalEdicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }

    </script>
    {% endblock %}
</body>

</html>