{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block cuerpo %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio: Automotores Benedix</title>
    <link rel="stylesheet" href="{% static './css/globals.css' %}">
    <link rel="stylesheet" href="{% static './css/header.css' %}">
    <link rel="stylesheet" href="{% static './css/index.css' %}">
     <!-- Fuentes de Google -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap" rel="stylesheet">
     <!-- Fuentes de Google -->
</head>
<body>
    <section class="menu-card menu-entry">
        <div class="container">
            <div class="card">
                <div class="card-icon">
                    <span class="icon-box-add"></span>
                </div>
                <h4>Productos</h4>
                <p>Visualiza, Carga y Edita los vehiculos en Stock</p>
                <a href="productos">Ingresar</a>
            </div>
    
<!--             <div class="card">
                <div class="card-icon">
                    <span class="icon-search"></span>
                </div>
                <h4>Busqueda de Producto</h4>
                <p>Ejecutar una busqueda dentro del Stock Disponible</p>
                <a href="busqueda_producto">Ingresar</a>
            </div> -->

            <div class="card">
                <div class="card-icon">
                    <span class="icon-man-woman"></span>
                </div>
                <h4>Clientes</h4>
                <p>Ingrese nuevos clientes, editelos y reactive o deshabilite sus estados.</p>
                <a href="{% url 'clientes' 0 %}">Ingresar</a>
            </div>
    
            <div class="card">
                <div class="card-icon">
                    <span class="icon-file-text2"></span>
                </div>
                <h4>Informes</h4>
                <p>Generar un reporte de stock, clientes o saldos.</p>
                <a href="informes">Ingresar</a>
            </div>

            <div class="card">
                <div class="card-icon">
                    <span class="icon-libreoffice"></span>
                </div>
                <h4>Caja, Compra y Venta</h4>
                <p>Emite la factura de un vehículo junto a sus respectivos pagarés</p>
                <a href="factura">Ingresar</a>
            </div>
    
            <div class="card">
                <div class="card-icon">
                    <span class="icon-checkbox-checked"></span>
                </div>
                <h4>Abonar Pagaré</h4>
                <p>Cancela la cuota de uno o más pagarés</p>
                <a href="cancelar_pagare">Ingresar</a>
            </div>
    
            <p id="msjError" style="display: none">
                {% if mensaje %}
                    <p class="message-error" hidden>{{mensaje}}</p>
                {% endif %}
            </p>
            {% if parameters.datos_usuario.tipo_usuario == 1 %}
            <div class="card">
                <div class="card-icon">
                    <span class="icon-cog"></span>
                </div>
                <h4>Ajustes</h4>
                <p>Configura el entorno del sistema</p>
                <a href="config">Ingresar</a>
            </div>
            {% endif %}
        </div>
    </section>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script>
        var mensaje = document.getElementsByClassName("message-error")
        setTimeout(showAlert, 200) 
        function showAlert() {
            if(mensaje[0]) {
                alerta(args)
            }
        }

        var args = {
            TITLE: 'Ups!', 
            TEXT: `${mensaje[0].innerHTML} 😅`,
            ICON: 'error', 
            typeOfMethod: '',
            btnId: 'cargarCliente'
        }
        
    </script>
    {% endblock %}
</body>
</html>