{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static './css/globals.css' %}">
    <link rel="stylesheet" href="{% static './css/login.css' %}">
    <link rel="stylesheet" href="{% static './css/input.css' %}">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Fuentes de Google -->
</head>
<body>
    <fieldset>
        <legend><h1 class="login-title">Automóviles Benedix</h1></legend>
            <section class="login-box">
                <h2 class="login-box-title">Iniciar Sesión</h2>
                <form action="./" method="POST" class="login-box-form">
                    {% csrf_token %}
                    <div class="login-box-form-div">
                        <input type="text" required class="login-box-form-div-input" name="usuario">
                        <label class="lbl-nombre">
                            <span class=text-nomb>
                                Usuario
                            </span>
                        </label>
                    </div>
                    <div class="login-box-form-div">
                        <input type="password" required class="login-box-form-div-input"  name="clave">
                        <label class="lbl-nombre">
                            <span class=text-nomb>
                                Contraseña
                            </span>
                        </label>
                    </div>
                    <button type="submit" class="login-box-button">Ingresar</button>
                </form>
                {% if mensaje %}
                    <p class="message-error" hidden>{{mensaje}}</p>
                {% endif %}
            </section>
    </fieldset>
    <script src="{% static 'js/sweetalert2.all.min.js'%}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
           var mensaje = document.getElementsByClassName("message-error")
        setTimeout(showAlert, 200) 
        function showAlert() {
            if(mensaje[0]) {
                alerta(args)
            }
        }

        var args = {
            TITLE: 'Usuario o Contraseña incorrectos', 
            TEXT: `${mensaje[0].innerHTML}`,
            ICON: 'error', 
            typeOfMethod: '',
            btnId: 'cargarCliente'
        }
    </script>
</body>
</html>