{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="margin: 0 auto;">
        <div class="modal-modal-header">
            <h2 class="modal-title">{{parameters.titulo}}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static './css/section-styles/products/modalAdd.css' %}">
        </div>
        <div class="modal-body">

            <form action="{% url 'edit_color' parameters.color_actual %}" method="POST"
                id="editarColor">
                {% csrf_token %}
                <div class="input-group mb-3 editar-marca">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default" onclick="">Editar Color</span>
                    </div>
                    <input type="text" id="color" name="color" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" value="{{parameters.datos_act.descripcion_color}}">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="alertaConfirmar('',argsModal)">Confirmar</button>
            <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
        </div>
        <script>

            var argsModal = {
                TITLE: '',
                TEXT: '',
                ICON: '',
                successPhrase: 'actualizado',
                typeOfMethod: 'submit',
                btnId: 'editarColor'
            }
        </script>
    </div>